AulaWeb/src/conf/xml-resources/web-service-references/WSCadastros/wsdl/localhost_8080/AulaWeb/WSCadastros.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSAulaIFFar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSAulaIFFar/" name="WSCadastros">
<types>
<xsd:schema>
<xsd:import namespace="http://WSAulaIFFar/" schemaLocation="http://localhost:8080/AulaWeb/WSCadastros?xsd=1"/>
</xsd:schema>
</types>
<message name="cadastrarPessoa">
<part name="parameters" element="tns:cadastrarPessoa"/>
</message>
<message name="cadastrarPessoaResponse">
<part name="parameters" element="tns:cadastrarPessoaResponse"/>
</message>
<message name="alterarPessoa">
<part name="parameters" element="tns:alterarPessoa"/>
</message>
<message name="alterarPessoaResponse">
<part name="parameters" element="tns:alterarPessoaResponse"/>
</message>
<message name="excluirPessoa">
<part name="parameters" element="tns:excluirPessoa"/>
</message>
<message name="excluirPessoaResponse">
<part name="parameters" element="tns:excluirPessoaResponse"/>
</message>
<message name="listarPessoa">
<part name="parameters" element="tns:listarPessoa"/>
</message>
<message name="listarPessoaResponse">
<part name="parameters" element="tns:listarPessoaResponse"/>
</message>
<message name="listarTodos">
<part name="parameters" element="tns:listarTodos"/>
</message>
<message name="listarTodosResponse">
<part name="parameters" element="tns:listarTodosResponse"/>
</message>
<portType name="WSCadastros">
<operation name="cadastrarPessoa">
<input wsam:Action="http://WSAulaIFFar/WSCadastros/cadastrarPessoaRequest" message="tns:cadastrarPessoa"/>
<output wsam:Action="http://WSAulaIFFar/WSCadastros/cadastrarPessoaResponse" message="tns:cadastrarPessoaResponse"/>
</operation>
<operation name="alterarPessoa">
<input wsam:Action="http://WSAulaIFFar/WSCadastros/alterarPessoaRequest" message="tns:alterarPessoa"/>
<output wsam:Action="http://WSAulaIFFar/WSCadastros/alterarPessoaResponse" message="tns:alterarPessoaResponse"/>
</operation>
<operation name="excluirPessoa">
<input wsam:Action="http://WSAulaIFFar/WSCadastros/excluirPessoaRequest" message="tns:excluirPessoa"/>
<output wsam:Action="http://WSAulaIFFar/WSCadastros/excluirPessoaResponse" message="tns:excluirPessoaResponse"/>
</operation>
<operation name="listarPessoa">
<input wsam:Action="http://WSAulaIFFar/WSCadastros/listarPessoaRequest" message="tns:listarPessoa"/>
<output wsam:Action="http://WSAulaIFFar/WSCadastros/listarPessoaResponse" message="tns:listarPessoaResponse"/>
</operation>
<operation name="listarTodos">
<input wsam:Action="http://WSAulaIFFar/WSCadastros/listarTodosRequest" message="tns:listarTodos"/>
<output wsam:Action="http://WSAulaIFFar/WSCadastros/listarTodosResponse" message="tns:listarTodosResponse"/>
</operation>
</portType>
<binding name="WSCadastrosPortBinding" type="tns:WSCadastros">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cadastrarPessoa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alterarPessoa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluirPessoa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPessoa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCadastros">
<port name="WSCadastrosPort" binding="tns:WSCadastrosPortBinding">
<soap:address location="http://localhost:8080/AulaWeb/WSCadastros"/>
</port>
</service>
</definitions>